/* 폰트 */
@font-face {
  font-family: 'DungGeunMo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DungGeunMo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DungGeunMo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
html {
font-family: "DungGeunMo", sans-serif;
}

body {
  background-color: lightpink;
  text-align: center;
}

.main {
  margin-top:150px;
}

.main > span {
  font-size: 1.5rem;
}

section{
  background-image: url(https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FbEpgBj%2Fbtq9ymUdtNP%2FbQY4kSi2BUueIKIFWO6zwk%2Fimg.png);
  height:auto;
  background-position:center;
  background-repeat:no-repeat;
}

.profile > section::after {
  content:"";
  display:block;
  padding-top:calc(100% / 32 * 9 ); 
}

section:hover {
  opacity: 0.5;
}