/* 폰트 */
@font-face {
  font-family: 'DungGeunMo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DungGeunMo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DungGeunMo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


html {
font-family: "DungGeunMo", sans-serif;
}

body {
  background-color: lightpink;
}

.site-wrap{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-wrap > * {
  flex-shrink: 0;
}

.site-wrap > main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.main {
  margin-top:150px;
}

.main > span {
  font-size: 1.5rem;
}

.profile_img{
  background-image: url(https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FbEpgBj%2Fbtq9ymUdtNP%2FbQY4kSi2BUueIKIFWO6zwk%2Fimg.png);
  height:auto;
  background-position:center;
  background-repeat:no-repeat;
}

.profile_img::after {
  content:"";
  display:block;
  padding-top:calc(100% / 32 * 9 ); 
}

.profile_img:hover {
  opacity: 0.5;
}

.section-1 , .section-2 {
  margin-top: 100px;
}